td a {
	color: rgb(21, 0, 139);
	color: #16A1F2;
}

td a:hover {
	color: red;

}

.supplier-drug-table {
	max-width: 100px;
}

.price-drug-table {
	max-width: 50px;
}

div#login {
	height: 350px;
	color: #ffffff;
	box-shadow: 2px 4px 14px #4e4e4e;
}

div#register {
	height: 500px;
	color: #ffffff;
	box-shadow: 2px 4px 14px #4e4e4e;
}


@font-face {
	font-family: myFirstFont;
	src: url(MTCORSVA.woff);
}

#header {
	font-family: myFirstFont;
	font-weight: bold;
	font-size: 25px;
}

#loginform {
	margin: 150px auto;
	width: 280px;
}

#loginform span {
	width: 100px;
	display: inline-block;
}

#ac span {
	width: 95px;
	display: inline-block;
	font-size: 14px;
	margin-bottom: 12px;
	padding-right: 10px;
}

select {
	border: 1px solid #999;
	background: #EEEEEE;
	padding: 5px 10px;
	box-shadow: 0 1px 2px #ddd;
	-moz-box-shadow: 0 1px 2px #ddd;
	-webkit-box-shadow: 0 1px 2px #ddd;
}

.qwe {
	width: 246px;
	margin: auto;
}

input {
	border: 1px solid #999;
	background: #EEEEEE;
	padding: 10px;
	box-shadow: 0 1px 2px #ddd;
	-moz-box-shadow: 0 1px 2px #ddd;
	-webkit-box-shadow: 0 1px 2px #ddd;
}

#btn {
	width: 100px;
	background: green;
	border: 1px solid #999;
	border-radius: 10px;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
}

#maintable {
	margin: 50px auto;
	width: 900px;
}

button a,
a:hover {
	color: #fff;
	text-decoration: none;
}


#filter {
	width: 70%;
	float: left;
}

#addd {
	border: 1px solid #999;
	background: #EEEEEE;
	padding: 5px 10px;
	box-shadow: 0 1px 2px #ddd;
	-moz-box-shadow: 0 1px 2px #ddd;
	-webkit-box-shadow: 0 1px 2px #ddd;
	width: 25%;
	display: inline-block;
	float: right;
	text-align: center;
	text-decoration: none;
	color: #000000;
}

#cccc {
	border: 1px solid #999;
	background: #EEEEEE;
	padding: 5px 10px;
	box-shadow: 0 1px 2px #ddd;
	-moz-box-shadow: 0 1px 2px #ddd;
	-webkit-box-shadow: 0 1px 2px #ddd;
	width: 25%;
	display: inline-block;
	float: left;
	text-align: center;
	text-decoration: none;
	color: #000000;
}

.clearfix {
	clear: both;
}

div.table-container {
	width: 100%;
	overflow-x: auto;
}

#resultTable {
	max-height: 20px;
	overflow-y: auto;
	overflow-x: auto;
	border-collapse: collapse;
	background-color: #FFFFFF;
	border-spacing: 0;
	max-width: 100%;
	margin: auto;
	border-collapse: collapse;
	opacity: 0.9;
	width: 85%;
	margin-bottom: 10px;
	white-space: nowrap;
}

#resultTable {
	color: #666666;
	text-shadow: 0 1px 0 #FFFFFF;
	width: 100%;
	border: 1px solid #999999;
	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
	margin-top: 13px;
}

#resultTable thead tr th {
	background: none repeat scroll 0 0 #EEEEEE;
	color: #222222;
	padding: 10px 14px;
	text-align: left;
	border-top: 0 none;
	font-size: 13px;
}

#resultTable tbody tr td {
	font: bold 13px 'Arial';
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	padding: 10px 14px;
	border-top: 1px solid #999999;
}

#resultTable td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 7px;
	border: #4e95f4 1px solid;
}

#resultTable tr {
	background: #fff;
}

#resultTable tr:hover {
	background-color: #ffff99;
}

#mainmain {
	margin: 20px;
}


#mainmain article {
	background-color: #fff;
	color: #4b4b4b;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	background-color: #fff;
	box-shadow: 2px 4px 10px #777;
	border-radius: 5px;
	transition: 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}

#mainmain a article.one {
	color: rgb(0, 172, 37);
}

#mainmain a article.two {
	color: rgb(13, 0, 128);
}

#mainmain a article.three {
	color: rgb(10, 100, 96);
}

#mainmain a article.four {
	color: rgb(128, 0, 111);
}

#mainmain a article.five {
	color: rgb(233, 60, 126);
}

#mainmain a article:hover,
#mainmain a article:focus {
	color: #fff;
	cursor: pointer;
	background-color: #0084ff;
	transform: scale(1.01, 1.01);
}


div.dash-links {
	margin-top: -19px;
	margin-bottom: 21px;
}

@media screen and (min-width: 768px) {

	div.dash-links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#mainmain {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	#mainmain article {
		width: 200px;
		line-height: 25px;
		height: 130px;
		flex: 0 1 32%;
		transition: flex-basis 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}

	#mainmain article.stack {
		flex: 0 1 100%;
	}
}